<div style="
  display: grid;
  width: 100vw;
  height: 100vh;
  background:#95a5a6;
  color: white;
  align-content: center;justify-content: center;text-align: center;">
  <!-- <img src="/assets/images/pageNotFound.svg" style="max-width: 100%" /> -->
  <h1 style="text-transform: uppercase">401 Unauthorized Access!</h1>
  <p>You are not authorized to access this page</p>
  <div style="display: inline-block;">
    <button class="btn btn-primary me-2" routerLink='/' >Home</button>
    <button class="btn btn-secondary" (click)="backClicked()">Back</button>
  </div>
</div>