<div class="sign-in">
  <div class="login-container">
    <form
      id="loginForm"
      #reset="ngForm"
      (ngSubmit)="reset.form.valid && onSubmit()"
    >
      <div class="row mt-2">
        <div class="col-md-12">
          <label class="form-label">New Password</label>
          <input
            type="password"
            class="form-control"
            autocomplete="off"
            placeholder="New Password"
            name="_Password"
            #Password="ngModel"
            [(ngModel)]="password"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              (Password.touched || reset.submitted) &&
              Password.errors &&
              Password.errors['required']
            "
          >
            Password is required
          </span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <label class="form-label"> Re-type Password</label>
          <input
            type="password"
            class="form-control"
            autocomplete="off"
            placeholder="Re-type Password"
            name="c_Password"
            #cPassword="ngModel"
            [(ngModel)]="confirmPassword"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              (cPassword.touched || reset.submitted) &&
              cPassword.errors &&
              cPassword.errors['required']
            "
          >
            Confirm password is required
          </span>
          <div
            *ngIf="confirmPassword && password && confirmPassword !== password"
            class="text-danger"
          >
            Password mismatch found
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 mx-auto mt-3 mb-2">
        <button class="btn btn-outline-danger" type="submit">Submit</button>
      </div>
      <div class="text-center">
        <a class="text-primary" (click)="redirect()">Sign in</a>
      </div>
    </form>
  </div>
</div>
