<div class="sign-in">
  <div class="alert alert-success text-center fs-5" role="alert" *ngIf="minutes !== 0 || seconds !== 0">
    An OTP has been sent to your Email ID <b>{{ email }}</b>
  </div>
  <div class="login-container">
    <form
      id="loginForm"
      #otp="ngForm"
      (ngSubmit)="otp.form.valid && onSubmit()"
    >
      <div class="row">
        <div class="col-md-12">
          <input
            type="number"
            class="form-control"
            autocomplete="off"
            name="oo"
            placeholder="OTP"
            #otpref="ngModel"
            [(ngModel)]="otp_number"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              (otpref.touched || otp.submitted) &&
              otpref.errors &&
              otpref.errors['required']
            "
          >
            OTP is required
          </span>
        </div>
      </div>
      <div class="d-grid gap-2 mx-auto mt-3 mb-2">
        <button class="btn btn-outline-danger" type="submit">Submit</button>
        <button class="btn btn-outline-danger" (click)="resendOtp(otp)" type="button">Resend OTP</button>

      </div>
      <div class="text-center">
        <ng-container *ngIf="minutes !== 0 || seconds !== 0">
          OTP will be expired in<b>
            {{ minutes < 10 ? "0" + minutes : minutes }}:{{
              seconds < 10 ? "0" + seconds : seconds
            }}</b
          >
        </ng-container>
        <ng-container *ngIf="minutes == 0 && seconds == 0">
          Your OTP has been expired
        </ng-container>
      </div>
      <div class="text-center">
        <a class="text-primary" (click)="redirect()">Sign in</a>
      </div>
    </form>
  </div>
</div>
