.page-not {
  display: grid;
  width: 100vw;
  height: 100vh;
  background: #95a5a6;
  color: black;
  align-content: center;
  justify-content: center;
  text-align: center;
  background: url(https://c1.wallpaperflare.com/preview/286/573/109/error-not-found-404-lego.jpg);
//   background: url(https://c1.wallpaperflare.com/preview/853/796/1008/chopping-board-board-kitchen-wooden.jpg);
  background-repeat:no-repeat;
  background-position:center;
  height: 100%;
  background-size: cover;
}
