<div class="sign-in">
    <div class="alert alert-success text-center fs-5" role="alert" *ngIf="reset">
        A link to reset your password has been sent to your Email ID {{emailId}}
      </div>
  <div class="login-container">

    <form
      id="loginForm"
      #forgot="ngForm"
      (ngSubmit)="forgot.form.valid && onSubmit()"
    >
      <div class="row">
        <div class="col-md-12">
          <!-- <label class="form-label">Email ID</label> -->
          <input
            type="text"
            [pattern]="emailPattern"
            class="form-control"
            autocomplete="off"
            name="email"
            placeholder="Email ID"
            #emailID="ngModel"
            [(ngModel)]="emailId"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              (emailID.touched || forgot.submitted) &&
              emailID.errors &&
              emailID.errors['required']
            "
          >
            Email is required
          </span>
          <span
            class="text-danger"
            *ngIf="
              (emailID.touched || forgot.submitted) &&
              emailID.errors &&
              emailID.errors['pattern']
            "
          >
            Please enter a valid email ID
          </span>
        </div>
      </div>
      <div class="d-grid gap-2 mx-auto mt-3 mb-2">
        <button class="btn btn-outline-danger" type="submit">Submit</button>
      </div>
      <div class="text-center">
        <a class="text-primary" (click)="redirect()">Sign in</a>
      </div>
    </form>
  </div>
</div>
